# Uploads
uploads/

# Node
StreamGo-frontend/node_modules/
StreamGo-frontend/dist/

# Java / Gradle
StreamGo-backend/
StreamGo-backend/.gradle/
StreamGo-backend/build/
StreamGo-backend/bin/
StreamGo-backend/src/
# IDE
.idea/
*.iml
.vscode/
docs/
logs/

# OS
.DS_Store
Thumbs.db

# Credenciales locales - no subir
StreamGo-backend/src/main/resources/application.properties
StreamGo-backend/src/main/resources/application-prod.properties
