<aside class="sidebar">
    <img src="../../assets/imagenes/streamlogo.png" class="sidebar-logo">

    <a href="../admin/dashboard.html">Home</a>
    <a href="../admin/usuarios.html">Gestión de usuarios</a>
    <a href="../admin/contenido.html">Gestión de contenido</a>
    <a href="../admin/peticiones.html">Gestión de lista de peticiones</a>
    <a href="../admin/caja.html">Caja / Ingresos</a>
    <a href="../admin/preferidos.html">Lista de preferidos</a>
    <a href="../admin/mi-cuenta.html">Mi cuenta</a>
    <a href="#" onclick="cerrarSesion()">Cerrar sesión</a>
</aside>