<app-sidebar-admin></app-sidebar-admin>
<div class="container mt-4">

  <div class="d-flex justify-content-between mb-3">

    <h2>Gestión de Planes</h2>

    <button
      class="btn btn-success"
      (click)="nuevoPlan()">
      Nuevo Plan
    </button>

  </div>
<h3>Total planes: {{ planes.length }}</h3>
  <table class="table table-bordered">
    

    <thead>

      <tr>
        <th>ID</th>
        <th>Tipo</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Horas</th>
        <th>Descripción</th>
        <th>Activo</th>
        <th>Acciones</th>
      </tr>

    </thead>

    <tbody>
        @for (p of planes; track p.id) {
<tr>
  <td>{{ p.id }}</td>
  <td>{{ p.tipoPlan }}</td>
  <td>{{ p.nombre }}</td>
  <td>{{ p.precio }}</td>
  <td>{{ p.duracionHoras }}</td>
  <td>{{ p.descripcion }}</td>
  <td>{{ p.activo }}</td>
  <td>
    <button
      class="btn btn-warning btn-sm me-2"
      (click)="editarPlan(p)">
      Editar
    </button>

    <button
      class="btn btn-danger btn-sm"
      (click)="eliminarPlan(p.id)">
      Eliminar
    </button>
  </td>
</tr>
}
    </tbody>

  </table>

</div>

<!-- Modal -->

<div
  class="modal fade show d-block"
  *ngIf="modalVisible">

  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">

        <h5 class="modal-title">

          {{ plan.id ? 'Editar Plan' : 'Nuevo Plan' }}

        </h5>

        <button
          type="button"
          class="btn-close"
          (click)="cerrarModal()">
        </button>

      </div>

      <div class="modal-body">

        <div class="mb-2">

          <label>Tipo Plan</label>

          <select
            class="form-control"
            [(ngModel)]="plan.tipoPlan">

            <option value="BASICO">BASICO</option>
            <option value="PREMIUM">PREMIUM</option>
            <option value="VIP">VIP</option>

          </select>

        </div>

        <div class="mb-2">

          <label>Nombre</label>

          <input
            class="form-control"
            [(ngModel)]="plan.nombre">

        </div>

        <div class="mb-2">

          <label>Precio</label>

          <input
            type="number"
            class="form-control"
            [(ngModel)]="plan.precio">

        </div>

        <div class="mb-2">

          <label>Duración Horas</label>

          <input
            type="number"
            class="form-control"
            [(ngModel)]="plan.duracionHoras">

        </div>

        <div class="mb-2">

          <label>Descripción</label>

          <textarea
            class="form-control"
            [(ngModel)]="plan.descripcion">
          </textarea>

        </div>

        <div class="form-check">

          <input
            type="checkbox"
            class="form-check-input"
            [(ngModel)]="plan.activo">

          <label class="form-check-label">
            Activo
          </label>

        </div>

      </div>

      <div class="modal-footer">

        <button
          class="btn btn-secondary"
          (click)="cerrarModal()">
          Cancelar
        </button>

        <button
          class="btn btn-primary"
          (click)="guardarPlan()">
          Guardar
        </button>

      </div>

    </div>

  </div>

</div>